<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Planning</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body class="bg-gray-600">
<header>
  <nav class="container mx-auto px-4">
    <a href="/" class="inline-block border-4 w-48 h-14 rounded text-center text-4xl m-1.5">Home</a>
    <a href="/dashboard" class="inline-block border-4 w-48 h-14 rounded text-center text-4xl m-1.5">Dashboard</a>
    {{#unless logged_in}}   <a href="/login" class="inline-block border-4 w-48 h-14 rounded text-center text-4xl m-1.5">Login</a>
    {{/unless}}   
    {{#if logged_in}}   <a href="/" class="inline-block border-4 w-48 h-14 rounded text-center text-4xl m-1.5">Logout</a>
    {{/if}}
  </nav>

  <div class="search-field">
    <form>
      <label for="search-search">Search:</label>
      <input type="text" id="search-field">
    </form>
  </div>
</header>
<main class="content-box px-4 m-1.5 rounded w-full grid grid-cols-6 grid-rows-3 gap-4">
<aside class="content-box row-start-1 row-span-3 col-start-1 col-span-1">
  <div class="next-events">
    <h3>Event</h3>
    <p>Next Event(s)</p>
  </div>

  <div class="calendar">
    <img src="../../public/images/placeholder.jfif">
  </div>

  <div class="event-buttons">
    <button value="New Event"></button>
    <button value="Delete Event"></button>
  </div>
</aside>
<section class="content-box row-start-1 row-span-3 col-start-2 col-span-7">{{{body}}}</section>
</main>

</body>
</html>
