<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Planning</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-600">
<header>
  <nav class="container mx-auto px-4">
    <a href="/" class="inline-block border-4 w-48 h-24 text-center align-middle">Home</a>
    <a href="/" class="inline-block border-4 w-48 h-24 text-center align-middle">Dashboard</a>
    <a href="/" class="inline-block border-4 w-48 h-24 text-center align-middle">Login</a>
    <a href="/" class="inline-block border-4 w-48 h-24 text-center align-middle">Logout</a>
  </nav>

  <div class="search-field">
    <form>
      <label for="search-search">Search:</label>
      <input type="text" id="search-field">
    </form>
  </div>
</header>

<aside>
  <div class="next-events">
    <h3>Event</h3>
    <p>Next Event(s)</p>
  </div>

  <div class="calendar">
    <img src="../../public/images/placeholder.jfif">
  </div>

  <div class="event-buttons">
    <button value="New Event"></button>
    <button value="Delete Event"></button>
  </div>
</aside>

<main>
  {{body}}
</main>

</body>
</html>
