<div class="content-box px-4 m-1.5 w-10/12 grid grid grid-cols-4 grid-rows-3 gap-4">
    <a href="" class="col-span-full grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">event name here</h2>
        <h2 class="justify-self-center m-1.5">event location here</h2>
        <h3 class="justify-self-end m-1.5">event date here</h3>
    </a>
    <h1 class="row-start-2 row-end-3 col-span-full border-2 rounded m-1.5 shadow-md font-bold justify-self-center px-4"># Days Until Event</h1>
    <a href="" class="row-start-3 row-end-4 col-start-1 col-end-3 grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">guests invited</h2>
        <h2 class="justify-self-center m-1.5">guests accepted</h2>
        <h2 class="justify-self-end m-1.5">guests no response</h2>
    </a>
    <a href="" class="row-start-3 row-end-4 col-start-3 col-end-5 grid grid-cols-2 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">Total Cost here</h2>
        <h3 class="justify-self-end m-1.5">Total count of items</h3>
    </a>
</div>