<div class="content-box px-4 m-1.5 w-8/12">
    <div class="grid grid-cols-3">
        <label class="font-bold justify-self-start m-1.5 mx-4">Guest</label>
        <label class="font-bold justify-self-center m-1.5">Plus of</label>
        <label class="font-bold justify-self-end m-1.5 mx-4">Response</label>
    </div>
    <a href="" class="grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">guest name here</h2>
        <h2 class="justify-self-center m-1.5">blank here because no +1</h2>
        <h2 class="justify-self-end m-1.5">guest response</h2>
    </a>
    <a href="" class="grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">guest name here</h2>
        <h2 class="justify-self-center m-1.5">guest of xyz (shows pri guest)</h2>
        <h2 class="justify-self-end m-1.5">guest response</h2>
    </a>
    <a href="" class="grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">guest name here</h2>
        <h2 class="justify-self-center m-1.5">blank here because no +1</h2>
        <h2 class="justify-self-end m-1.5">guest response</h2>
    </a>
</div>