<div>
    <h1 class="font-bold text-xl md:text-5xl lg:text-7xl p-0 m-2">The Event Planning Site</h1>
    <p class="p-0 m-2 text-xs md:text-lg lg:text-2xl font-bold">A click away from making the perfect event.</p>

<div>