<div class="content-box px-4 m-1.5 w-8/12">
    <div class="grid grid-cols-3">
        <label class="font-bold justify-self-start m-1.5 mx-4">Item</label>
        <label class="font-bold justify-self-center m-1.5">Total Requested</label>
        <label class="font-bold justify-self-end m-1.5 mx-4">Total Cost</label>
    </div>
    <a href="" class="grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">item name here</h2>
        <h2 class="justify-self-center m-1.5">sum of items</h2>
        <h2 class="justify-self-end m-1.5">equation (sum of items * item cost)</h2>
    </a>
    <a href="" class="grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">item name here</h2>
        <h2 class="justify-self-center m-1.5">sum of items</h2>
        <h2 class="justify-self-end m-1.5">equation (sum of items * item cost)</h2>
    </a>
    <a href="" class="grid grid-cols-3 border-2 rounded m-1.5 shadow-md">
        <h2 class="justify-self-start m-1.5">item name here</h2>
        <h2 class="justify-self-center m-1.5">sum of items</h2>
        <h2 class="justify-self-end m-1.5">equation (sum of items * item cost)</h2>
    </a>
     <div class="grid grid-cols-3">
        <label class="invisible font-bold justify-self-start m-1.5 mx-4"></label>
        <label class="invisible font-bold justify-self-center m-1.5"></label>
        <label class="font-bold justify-self-end m-1.5 mx-4">Total SUM</label>
    </div>
</div>