<div class="w-auto h-auto border-4 px-4 m-1.5 rounded">
    <h2 class="m-2 text-center text-4xl font-bold">Login</h2>
    <form class="block" id="login-form">
      <div class="box-border w-full text-right">
        <label for="email-login" class=" font-bold m-1.5 w-1/4">Email:</label>
        <input class="m-1.5 w-3/4" type="text" id="email-login" />
      </div>
      <div class="block w-full text-right">
        <label for="password-login"class="font-bold m-1.5 w-1/4">Password:</label>
        <input class="m-1.5 w-3/4" type="password" id="password-login" />
      </div>
      <div class="block w-full text-center">
        <button class="box-border border-2 px-4 rounded m-1 py-1 px-1 md:py-2 px-3 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700" type="submit">Login</button>
        <br>
        <button class="box-border border-2 px-4 rounded m-1 py-1 px-1 md:py-2 px-3 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700" type="submit">Sign Up</button>
      </div>
    </form>
</div>

  <script src="./js/login.js"></script>