<div
  class='content-box border-4 px-4 m-1.5 rounded w-10/12 grid grid-cols-1 grid-rows-5 gap-4'
>
  <h2 class='col-span-full m-1.5 text-center text-4xl font-bold'>New Event Details</h2>
  <form
    class='block col-span-full row-start-2 row-end-6 grid grid-cols-4 grid-rows-6'
    id='event-form'
  >
    {{! FIRST ROW }}
    <div class='row-start-1 row-span-1 col-start-1 col-span-full grid grid-col-3 auto-row-auto'>
    <div
      class='row-start-1 row-span-1 col-start-1 col-span-1 grid justify-items-center'
    >
      <label class='font-bold'>Event Name:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-name'
        data-id=''
        data-user_id='{{user_id}}'
        value=''
        required
      />
    </div>
    <div
      class='row-start-1 row-span-1 col-start-2 col-span-1 grid justify-items-center'
    >
      <label class='font-bold'>Event Type:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-type'
        value=''
      />
    </div>
    <div
      class='row-start-1 row-span-1 col-start-3 col-span-1 grid justify-items-center'
    >
      <label class='font-bold'>Event Date:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-date'
        value=''
      />
    </div>
    </div>

    {{! SECOND ROW }}
    <div
      class='row-start-2 row-span-1 col-start-1 col-span-4 grid justify-items-center'
    >
      <label class='font-bold'>Location Name:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-loc-name'
        value=''
      />
    </div>
    {{! THIRD ROW }}
    <div
      class='row-start-3 row-span-1 col-start-1 col-span-2 grid justify-items-center'
    >
      <label class='font-bold'>Location Address 1:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-loc-addr1'
        value=''
      />
    </div>
    <div
      class='row-start-3 row-span-1 col-start-3 col-span-2 grid justify-items-center'
    >
      <label class='font-bold'>Location Address 2:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-loc-addr2'
        value=''
      />
    </div>
    {{! FOURTH ROW }}
    <div
      class='row-start-4 row-span-1 col-start-1 col-span-1 grid justify-items-center'
    >
      <label class='font-bold'>Location City:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-loc-city'
        value=''
      />
    </div>
    <div
      class='row-start-4 row-span-1 col-start-2 col-span-1 grid justify-items-center'
    >
      <label class='font-bold'>Location State:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-loc-state'
        value=''
      />
    </div>
    <div
      class='row-start-4 row-span-1 col-start-3 col-span-1 grid justify-items-center'
    >
      <label class='font-bold'>Location Zip:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-loc-zip'
        value=''
      />
    </div>
    <div
      class='row-start-4 row-span-1 col-start-4 col-span-1 grid justify-items-center'
    >
      <label class='font-bold'>Location Country:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-loc-ctry'
        value=''
      />
    </div>
    {{! FIFTH ROW }}
    <div
      class='row-start-5 row-span-1 col-start-1 col-span-4 grid justify-items-center'
    >
      <label class='font-bold'>Event Reference/links:</label>
      <input
        class='m-1.5 w-10/12 text-center'
        type='text'
        id='event-ref'
        value=''
      />
    </div>
    {{! SIXTH ROW }}
    <div class='row-start-6 row-span-1 col-start-1 col-span-4 px-4 rounded grid justify-items-stretch grid-col-3 auto-row-auto '>
    <button
      class='col-start-1 col-span-1 box-border border-2 px-4 rounded m-1.5 font-bold'
      type='button'
      value='create'
      id='event-create-btn'
    >Create</button>
    <button
      class='col-start-3 col-span-1 box-border border-2 px-4 rounded m-1.5 font-bold'
      type='button'
      value='cancel'
      id='event-cancel-btn'
    >Cancel</button>
 
    </div>
  </form>

</div>

<button
      class='invisible'
      type='button'
      value='delete'
      id='event-delete-btn'
    >Delete</button>
            <button
      class='invisible'
      type='button'
      value='update'
      id='event-update-btn'
    >Update</button>

<script type='text/javascript' src='/js/eventDetails.js'></script>