<div class="content-box border-4 px-4 m-1.5 rounded w-4/12">
  <h2 class="m-1.5 text-center text-4xl font-bold">Sign Up</h2>
  <form class="block" id="signup-form">
    <div class="box-border w-full text-right">
      <label for="user-signup" class=" font-bold m-1.5 w-1/4">Username:</label>
      <input class="m-1.5 w-3/4" type="text" id="user-signup" />
    </div>
    <div class="box-border w-full text-right">
      <label for="email-signup" class=" font-bold m-1.5 w-1/4">Email:</label>
      <input class="m-1.5 w-3/4" type="text" id="email-signup" />
    </div>
    <div class="block w-full text-right">
      <label for="password-signup"class="font-bold m-1.5 w-1/4">Password:</label>
      <input class="m-1.5 w-3/4" type="password" id="password-signup" />
    </div>
    <div class="block w-full text-center">
      <button class="box-border border-2 px-4 rounded m-1.5 font-bold" type="submit">Sign Up</button>
    </div>
  </form>
</div>

  <script src="./js/signup.js"></script>